
 body {
   background-color: rgba(6, 133, 138, 0.966);
   font-family: 'Raleway', sans-serif;
 }

 h1 {
   color: white;
 }

 .container {
   margin-top: 100px;
   color: rgba(255, 255, 255, 0.753);
 }

 #myBar1 {
  width: 220px;
  background-color: rgb(4, 91, 95);
  margin-left: auto;
  margin-right: auto;
  height: 5px;
}
 
 #myProgress {
  width: 100%;
 
  background-color: grey;
  text-align: center;
  line-height: 30px;
  color: white;
  height: 5px;
}

#footerLink {
  color: rgba(255, 255, 255, 0.753);
}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: black;
    text-align: center;
  }



  @media only screen and (max-width: 600px) {



};

